body{
  padding: 0;
  margin: 0;
  background-color: black;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: white;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.75);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}
.form-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.form-group {
  margin-right: 10px;
  width: 47%;
  
}

.form-group .form-error {
  color: #d9534f;
  min-height: 20px;
}
.modal {
  width: 45rem;
  position: absolute;
  max-height: 90vh;
  margin: auto;
  border-radius: 20px;
  background-color: gray;
  padding: 1rem;
  box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
  z-index: 30;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 930px) {
  .modal {
    width: 45rem;
    left: calc(50% - 20rem);
    border-radius: 14px;
  }
}
.button {
  background: #2a87a5;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-weight: bold;
}
.footer-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #333;
  left: 0; /* Ensures full width */
}

.footer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 2rem; /* Adjust padding as needed */
  text-align: center;
  color: #fff;
}
