@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  padding: 0;
  margin: 0;
  background-color: black;
  font-family: "Roboto Condensed", sans-serif;
}
#root {
  margin: 0 auto;
  text-align: center;
  color: white;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: 20px;
}

h2 {
  color: #333;
}

p {
  color: #666;
}
/* Home */
.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  background-image: url('../images/home-image/5692516.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: calc(100vh + 144px);
  color: white;
  margin: 0;
  padding: 0;
}


/* modals for Login and Register */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.75);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}
.form-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.column{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.form-group {
  margin-right: 10px;
  width: 47%;
  
}
.form-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-group .form-error {
  color: #d9534f;
  min-height: 20px;
}
.modal {
  font-family: 'Merriweather  ', sans-serif;
  width: 45rem;
  max-height: 90vh;
  margin: auto;
  border-radius: 20px;
  background-color: rgb(162, 161, 161);
  background: linear-gradient(to bottom, #f3f4f6, #dcdcdc);
  background: linear-gradient(to top, #7b7b7c, #dcdcdc);
  padding: 1rem;
  box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
  z-index: 30;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative; 
}
@media (min-width: 930px) {
  .modal {
    width: 45rem;
    border-radius: 14px;
  }
}
.button {
  background: #2a87a5;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-weight: bold;
}

.btn.close {
  background-color: transparent;
  padding: 5px 10px;
  height: auto;
  position: absolute; 
  top: 10px; 
  right: 10px; 
  z-index: 1000;
}

.btn.close svg {
  color: black;
}
.buttons{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
/* Logout buttons */
.buttonsForLogout{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* Footer */

.footer {
  
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:2rem
}
/* error */
.errorImage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  background-image: url('../images/error/404-Error.jpg');
  background-size: cover;
  background-position: center;
  height: calc(100vh + 144px);
  color: white;
}
/* About */
.backgroundAbout{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url('../images/aboutus/2.wp2668807.png');
  background-size: cover;
  background-position: center;
  height: calc(100vh + 144px);
}
.imageAbout{
  padding-right: 100px;
}
.about-container {
  
  display: flex;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  padding: 20px;
  background-color: rgba(37, 36, 36, 0.0);
  color: #333;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.about-section {
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 20px;
  padding: 20px;
  background-color: rgba(37, 36, 36, 0.5);
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.about-section h2 {
  color: #ddd53f;
  margin-bottom: 10px;
}

.about-section p, .about-section ol {
  font-size: 1rem;
  line-height: 1.6;
  color: #e4e1e1;
}

.about-section ol {
  padding-left: 20px;
}

.about-section li {
  margin-bottom: 10px;
}

.about-section a {
  color: #0073e6;
  text-decoration: none;
}

.about-section a:hover {
  text-decoration: underline;
}
/* Events */
.event h1 {
  position: relative;
  font-size: 3rem;
  color: #6f48eb; 
  text-align: center;
}

@keyframes bloodFall {
  0% {
    transform: translate(-50%, -200%);
  }
  100% {
    transform: translate(-50%, 100%);
  }
}
.eventDescription {
  background-color: rgba(0, 0, 0, 0.7); 
  padding: 20px;
  border-radius: 8px;
  max-width: 600px; 
  margin: auto; 
}

.event-description h2 {
  font-family: 'Roboto Slab', serif;
  color: #fff; 
  text-align: center; 
  border-bottom: 2px solid #fff; 
  padding-bottom: 10px; 
}
.event-details {
  margin-bottom: 20px;
}
.how-it-works {
  margin-bottom: 20px;
}
.prizes {
  margin-bottom: 20px;
}
.prizes h2 {
  font-family: 'Poppins', Arial, sans-serif; 
  color: #6f48eb; 
  text-align: center;
  border-bottom: 2px solid #6f48eb; 
  padding-bottom: 10px;
}

.event-description h2,.event-details h2,.how-it-works h2{
  font-family: 'Poppins', Arial, sans-serif;
  color: #6f48eb; 
  text-align: center;
  border-bottom: 2px solid #6f48eb; 
  padding-bottom: 10px;
}


/* react calendar */
.calendarImage{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  background-image: url('../images/calendar/1830342971579824543.jpg');
  background-size: cover;
  background-position: center;
  height: calc(100vh + 144px);
  color: white;
}
.app {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  text-align: center;
  gap: 10px;
}
.react-calendar { 
  width: 400px;
  max-width: 100%;
  background-color: #d7d6d6;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
 }
 .react-calendar__navigation button {
  color: #75699d;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
 }
 .react-calendar__navigation button:enabled:hover,
 .react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
 }
 .react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
 }
 abbr[title] {
  text-decoration: none;
 }

 .react-calendar__tile:enabled:hover,
 .react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 6px;
 }
 .react-calendar__tile--now {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb;
 }
 .react-calendar__tile--now:enabled:hover,
 .react-calendar__tile--now:enabled:focus {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb;
 }
 .react-calendar__tile--hasActive:enabled:hover,
 .react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
 }
 .react-calendar__tile--active {
  background: #6f48eb;
  border-radius: 6px;
  font-weight: bold;
  color: white;
 }
 .react-calendar__tile--active:enabled:hover,
 .react-calendar__tile--active:enabled:focus {
  background: #6f48eb;
  color: white;
 }
 .react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
 }
 .react-calendar__tile--range {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 0;
 }
 .react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #6f48eb;
  color: white;
 }
 .react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #6f48eb;
  color: white;
 }
 /* fighters */
 .backgroundImageChampions{
  background-image: url('../images/mystical-forest-scene-at-night-as-digital-art-generate-ai-free-photo.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: calc(100vh + 144px);
 }
 .allFighters {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  background-color: rgba(245, 245, 245, 0.0);
  box-sizing: border-box;
}

.fighter-card {
  background-color: rgba(245, 245, 245, 0.6);
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  width: 200px;
  height: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.fighter-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.fighter-image {
  border-bottom: 1px solid #ddd;
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.fighter-card h3 {
  color: #333;
  font-size: 1.2em;
  margin: 10px 0 5px;
}

.fighter-card p {
  color: #666;
  font-size: 1em;
  margin: 0 0 15px;
}
/* fighter details */
.detailsCard{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex-direction: column;
}
.fighter-details {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
}
.fighter-sep{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.fighter-details-image {
  border-radius: 8px;
  height: 400px;
  object-fit: cover;
  margin-right: 20px;
  width: 400px;
}

.fighter-description{
  padding-top: 20px;
}

.imageAndStats{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.fighter-info h3 {
  color: #333;
  font-size: 2em;
  margin: 0 0 10px;
}
.nameAndType h2{
  font-size: 30px;
}
.fighter-type {
  color: #666;
  font-size: 1.2em;
  margin: 0 0 20px;
}

.fighter-stats {
  background-color: #222; 
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 20px;
}

.fighter-stats table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

.fighter-stats th,
.fighter-stats td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #444; 
}
.blueishStats{
  color: rgb(112, 196, 245)
}
.fighter-stats th {
  background-color: #333; 
}

.fighter-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.go-back-button {
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.go-back-button:hover {
  background-color: #0056b3;
}
/* elements */
.detailsCard.water {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  background-image: url('../images/forests/26551944-1471842886.webp');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: calc(100vh + 144px);
  color: white;
  margin: 0;
  padding: 0;
}
.detailsCard.fire {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  background-image: url('../images/forests/yPo3aW.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: calc(100vh + 144px);
  color: white;
  margin: 0;
  padding: 0;
}
.detailsCard.earth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  background-image: url('../images/forests/halloween-scary-pacific-forests-2K-wallpaper.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: calc(100vh + 144px);
  color: white;
  margin: 0;
  padding: 0;
}

.detailsCard.wind {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  background-image: url('../images/forests/The-Science-Behind-Why-Howling-Wind-Is-Spooky_273772163_andreiuc88-1.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: calc(100vh + 144px);
  color: white;
  margin: 0;
  padding: 0;
}

.read-more-button {
  background-color: rgba(14, 14, 14, 0.9);
  border-bottom-color: rgb(49, 176, 213);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(49, 176, 213);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(49, 176, 213);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(49, 176, 213);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-top-style: none;
  border-top-width: 0px;
  border: 2px solid rgb(49, 176, 213);
  box-sizing: border-box;
  color: rgb(91, 192, 222);
  cursor: pointer;
  display: inline-block;
  font-family: "Marcellus SC", serif;
  font-size: 14.4px;
  font-weight: 600;
  height: 41.275px;
  line-height: 17.28px;
  overflow-wrap: break-word;
  padding-bottom: 12px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 12px;
  position: relative;
  text-align: center;
  text-decoration-color: rgb(91, 192, 222);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  text-size-adjust: 100%;
  text-wrap: nowrap;
  transition-behavior: normal;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: box-shadow, background-color, color, transform;
  transition-timing-function: ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 132.475px;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.read-more-button:hover {
  background-color: rgb(49, 176, 213);
  color: #fff;
}
/* select fighter */
.selected {
  border: 2px solid blue; /* Example border styling for selected items */
  padding: 5px;
  margin: 5px;
}
.select-fighter {
  text-align: center;
}

.fighters-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fighter-item {
  margin: 10px;
  cursor: pointer;
  text-align: center;
}

.fighter-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.fighter-item h2 {
  margin-top: 10px;
  font-size: 1.2em;
}
/* fighter display */
.fighter-display {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fighter-image {
  width: 300px;
}

.weapon-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  transform: translate(-50%, -50%);
}

.fighter-details {
  margin-top: 20px;
  text-align: center;
}