.battleGroundImage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    background-image: url('../../images/arena/battleGroundps2.png');
    background-size: cover;
    background-position: center;
    width: 99vw;
    height: calc(100vh + 144px);
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.battleground-welcome{
    position: absolute;
    top: 150px;
}
.battleground-fighter1-image{
    max-width: 30%;
    border-radius: 50%;
    position: absolute;
    bottom: -70px;
    left: 0;
}
.battleground-fighter2-image{
    max-width: 30%;
    border-radius: 50%;
    position: absolute;
    bottom: -70px;
    right: 0;
}