.calendarImage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  background-image: url('../images/calendar/1830342971579824543.jpg');
  background-size: cover;
  background-position: center;
  height: calc(100vh + 144px);
  color: white;
}

.app {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  text-align: center;
  gap: 10px;
  position: absolute;
  bottom: 80px;
  right: 40px;
}

#root > div > div.flex-grow > div > div.app > p > strong {
  background-image: linear-gradient(to right, #3dba86, #28c4a2);
  -webkit-background-clip: text; 
  color: transparent; 
  padding: 5px; 
}

.react-calendar { 
  width: 630px;
  height: 150px;
  max-width: 85%;
  /* change here */
  background: linear-gradient(145deg, #047596, #368D96, #39903F);
  color: #222;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  opacity: 0.7;
}

.react-calendar__navigation button {
  color: black; 
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}

.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}

abbr[title] {
  text-decoration: none;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #368D96; 
  border-radius: 6px;
}

.react-calendar__tile--now {
  background: #368D96;
  border-radius: 6px;
  font-weight: bold;
  color: white;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #368D96;
  border-radius: 6px;
  font-weight: bold;
  color: white;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}

.react-calendar__tile--active {
  background: #39903F; 
  border-radius: 6px;
  font-weight: bold;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #39903F; 
  color: white;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}

.react-calendar__tile--range {
  background: #f8f8fa;
  color: #047596; 
  border-radius: 0;
}

.react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #39903F; 
  color: white;
}

.react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #39903F; 
  color: white;
}