.clock-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 20px; 
  position: absolute;
  top: 30px;
  right: 10px;
}

.time-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-box {
  background: linear-gradient(145deg, #047596, #368D96, #39903F); 
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: 'Press Start 2P', cursive; 
  font-size: 16px;
  text-align: center;
  width: 150px; 
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4); 
  margin-bottom: 8px; 
  opacity: 0.9;
}

.time-box {
  background: linear-gradient(145deg, #061B04, #368D96, #39903F);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  font-family: 'Press Start 2P', cursive; 
  font-size: 32px; 
  text-align: center;
  width: 150px; 
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4); 
  transition: transform 0.2s; 
  opacity: 0.9;
}

.time-box:hover {
  transform: scale(1.1); 
}