/* Import Google Fonts for better typography */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
}

/* Events Layers */
.events-layers {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

/* Events Box */
.events-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 36, 36);
    color: white;
    padding: 2rem;
    box-sizing: border-box;
    text-align: center;
}
.events-title {
    font-family: wfont_df5052_ad6ecf6b2136441483e378919b9b861f, wf_ad6ecf6b2136441483e378919, orig_teko_semibold;
    font-size: 2.5rem;
    font-weight: bold; 
    color: rgb(255, 255, 255); 
    margin-bottom: 1rem; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
}
.events-presented{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    color: rgb(255, 255, 255); 
    text-transform: uppercase; 
    letter-spacing: 1px; 
}

/* Events Text */
.events-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.events-text .logo {
    max-width: 180px; 
    margin-bottom: 1rem;
}

.eventDateAndTime {
    color: rgb(196, 156, 68);
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.events-text p {
    font-size: 1.5rem;
    line-height: 1.6;
}

/* Events Image */
.events-image {
    flex: 1;
    background-image: url('../../images/events/a19a56_536230a4991d4adfbefb20d068181875~mv2.webp');
    background-size: cover;
    background-position: center;
}

/* Prizes Section */
.prizes {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgb(13, 13, 13);
    margin: 0;
}

/* Prize Item */
.prize-item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Prize Image */
.prize-image {
    width: 150px; 
    height: 150px; 
    object-fit: contain; 
    margin-bottom: 10px;
}

/* Prize Description */
.prize-description {
    font-size: 1rem;
    color: rgb(196, 156, 68);
    margin-top: 0.5rem;
    max-width: 250px;
}

.events-span {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(196, 156, 68);
    margin-bottom: 0.5rem;
}
.events-layers2 {
    display: flex;
    flex-direction: row;
    height: 50vh;
    background-image: url('../../images/events/a19a56_6bd7840705d74c678ac8398f3c2295f5~mv2.webp');
    background-size: cover;
    background-position: center;
}
.events-box2{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 36, 36);
    color: white;
    padding: 2rem;
    box-sizing: border-box;
    text-align: center;
    background-image: url('../../images/events/a19a56_6bd7840705d74c678ac8398f3c2295f5~mv2.webp');
}
.events-image2{
    flex: 1;
    background-image: url('../../images/events/top-5-esports-earnings-09-ba81.jpg');
    background-size: cover;
    background-position: center;
}